@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-display: swap;
    src: local('Roboto'), url(/bookshelf/fonts/Roboto/Roboto-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), url(/bookshelf/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-display: swap;
    src: local('Roboto'), url(/bookshelf/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  }
}

@layer utilities {
  .filter-grayscale {
    filter: grayscale(100%);
  }

  .card {
    @apply bg-base-2 rounded border border-base-3 shadow
  }
}
